/***********************MEDIA QUERIES***********************/
/***********************COLORS & FONTS***********************/
.section__container, .section_light__container, .about .section__container, .about .section_light__container, .about-partners {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (min-width: 320px) {
    .section__container, .section_light__container, .about .section__container, .about .section_light__container, .about-partners {
      width: 100%;
      padding: 0 15px; } }
  @media (min-width: 767px) {
    .section__container, .section_light__container, .about .section__container, .about .section_light__container, .about-partners {
      width: 750px; } }
  @media (min-width: 1024px) {
    .section__container, .section_light__container, .about .section__container, .about .section_light__container, .about-partners {
      width: 970px; } }
  @media (min-width: 1200px) {
    .section__container, .section_light__container, .about .section__container, .about .section_light__container, .about-partners {
      width: 1170px; } }

.section {
  background: #E6E6E6;
  font-family: "Montserrat", sans-serif; }
  .section__container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 0 10px;
    padding-top: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .section__name {
    display: inline-block; }
    .section__name .namefont {
      margin-top: -60px;
      margin-bottom: 60px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end;
      font-size: 14px;
      width: 96px;
      height: 96px;
      color: #FE6E37;
      font-weight: 900;
      text-transform: uppercase;
      padding: 12px;
      background: #2C3E50;
      -webkit-box-shadow: 0px 5px #bc490a, 0px 8px 10px rgba(0, 0, 0, 0.5);
              box-shadow: 0px 5px #bc490a, 0px 8px 10px rgba(0, 0, 0, 0.5); }
  .section__text {
    line-height: 2;
    text-align: left;
    padding-left: 15px;
    padding-bottom: 30px; }
  .section__btn {
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    background: #FE6E37;
    color: black;
    font-weight: 900;
    font-size: 80%;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end; }
    .section__btn:hover {
      background: #6DBCDB;
      -webkit-transition: ease 0.2s;
      transition: ease 0.2s;
      color: white; }

.section_light {
  background: white;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #cccbcb; }
  .section_light__container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 0 10px;
    padding-top: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .section_light__name {
    display: inline-block; }
    .section_light__name .namefont {
      margin-top: -60px;
      margin-bottom: 60px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end;
      font-size: 14px;
      width: 96px;
      height: 96px;
      color: white;
      font-weight: 900;
      text-transform: uppercase;
      padding: 12px;
      background: #6DBCDB;
      -webkit-box-shadow: 0px 5px #D7DADB, 0px 8px 10px rgba(0, 0, 0, 0.5);
              box-shadow: 0px 5px #D7DADB, 0px 8px 10px rgba(0, 0, 0, 0.5); }
  .section_light__text {
    line-height: 2;
    text-align: left;
    padding-left: 15px;
    padding-bottom: 30px; }
  .section_light__btn {
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    background: #D7DADB;
    color: black;
    font-weight: 900;
    font-size: 80%;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end; }
    .section_light__btn:hover {
      background: #6DBCDB;
      -webkit-transition: ease 0.2s;
      transition: ease 0.2s;
      color: white; }

.about .section {
  background: #E6E6E6;
  font-family: "Montserrat", sans-serif; }
  .about .section__container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 0 10px;
    padding-top: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .about .section__name {
    display: inline-block; }
    .about .section__name .namefont {
      margin-top: -60px;
      margin-bottom: 60px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end;
      font-size: 14px;
      width: 96px;
      height: 96px;
      color: #FE6E37;
      font-weight: 900;
      text-transform: uppercase;
      padding: 12px;
      background: #2C3E50;
      -webkit-box-shadow: 0px 5px #bc490a, 0px 8px 10px rgba(0, 0, 0, 0.5);
              box-shadow: 0px 5px #bc490a, 0px 8px 10px rgba(0, 0, 0, 0.5); }
  .about .section__text {
    line-height: 2;
    text-align: left;
    padding-left: 15px;
    padding-bottom: 30px; }
  .about .section__btn {
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    background: #FE6E37;
    color: black;
    font-weight: 900;
    font-size: 80%;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end; }
    .about .section__btn:hover {
      background: #6DBCDB;
      -webkit-transition: ease 0.2s;
      transition: ease 0.2s;
      color: white; }

.about .section_light {
  background: white;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #cccbcb; }
  .about .section_light__container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 0 10px;
    padding-top: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .about .section_light__name {
    display: inline-block; }
    .about .section_light__name .namefont {
      margin-top: -60px;
      margin-bottom: 60px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end;
      font-size: 14px;
      width: 96px;
      height: 96px;
      color: white;
      font-weight: 900;
      text-transform: uppercase;
      padding: 12px;
      background: #6DBCDB;
      -webkit-box-shadow: 0px 5px #D7DADB, 0px 8px 10px rgba(0, 0, 0, 0.5);
              box-shadow: 0px 5px #D7DADB, 0px 8px 10px rgba(0, 0, 0, 0.5); }
  .about .section_light__text {
    line-height: 2;
    text-align: left;
    padding-left: 15px;
    padding-bottom: 30px; }
  .about .section_light__btn {
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    background: #D7DADB;
    color: black;
    font-weight: 900;
    font-size: 80%;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end; }
    .about .section_light__btn:hover {
      background: #6DBCDB;
      -webkit-transition: ease 0.2s;
      transition: ease 0.2s;
      color: white; }

.about .section__container {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0 10px;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.about .section__name {
  display: inline-block; }
  .about .section__name .namefont {
    margin-top: 0;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: center;
    font-size: 21px;
    width: 200px;
    height: auto;
    font-weight: 900;
    text-transform: uppercase;
    padding: 15px;
    text-align: center; }

.about .section__text {
  padding: 0;
  margin: 0; }

.about .section_light__container {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0 10px;
  padding-top: 0px;
  margin-top: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.about .section_light__name {
  display: inline-block; }
  .about .section_light__name .namefont {
    margin-top: 0;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: center;
    font-size: 21px;
    width: 200px;
    height: auto;
    font-weight: 900;
    text-transform: uppercase;
    padding: 15px;
    text-align: center; }

.about-partners {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 0;
  padding-bottom: 20px;
  background: #E6E6E6; }
  .about-partners__item img {
    height: 80px;
    margin: 20px 20px; }
