extends template
block head
	head
		title= "Vivadi"
		meta(charset="utf-8")
		
		meta(content="Yehor Illarionov" name="author")
		meta(content="Floor catalog" name="description")
		
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="HandheldFriendly" content="true")
		meta(content="IE=edge" http-equiv="X-UA-Compatible")

			
		// build:css css/vendor.css
		link(rel="stylesheet", href="libs/mdi/css/materialdesignicons.min.css")
		// endbuild
		
		// build:css css/main.css
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="css/about.css")
		// endbuild

block header
	+head-line()
	+header({
		"menu": [
		{
			"text": "Главная",
			"href": "index.html"
		},
		{
			"text": "Товары",
			"href": "category.html"
		},
		{
			"text": "О компании",
			"href": "about.html",
			"active": 1
		},
		{
			"text": "Новости",
			"href": "index.html"
		},
		{
			"text": "Контакты",
			"href": "contacts.html"
		}
		]
	})

block content
	+b.DIV.about
		+b.SECTION.section_light
			+e.DIV.container
					+e.DIV.name 
						p.namefont О компании
					+e.P.text 
						|Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. 
						|Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
						|Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми 
						|правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают 
						|прямо в рот.
						|Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфогра
						|фичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum
						|решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых,
						|диких знаках вопроса и коварных точках с запятой, но текст не дал сбить
						|Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. 
						|Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
						|Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми 
						|правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают 
						|прямо в рот.
						|Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфогра
						|фичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum
						|решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых,
						|диких знаках вопроса и коварных точках с запятой, но текст не дал сбить 
		+b.SECTION.section
			+e.DIV.container
					+e.DIV.name 
						p.namefont Продукция
					
					+b.DIV.about-partners
						
						+e.DIV.item
							img(src="img/partners/armstrong.svg", alt="armstrong")
						+e.DIV.item
							img(src="img/partners/graboplast.png", alt="graboplast")
						+e.DIV.item
							img(src="img/partners/lg.png", alt="lg hausys")
						+e.DIV.item
							img(src="img/partners/condor-carpets.gif", alt="condro-carpets")
						+e.DIV.item
							img(src="img/partners/itc.png", alt="itc")
						+e.DIV.item
							img(src="img/partners/juta-grass.jpg", alt="juta-grass")
						+e.DIV.item
							img(src="img/partners/balta.png", alt="balta")
						

