extends template

include category-menu/category-menu

block header
    +head-line()
    +header({
    	"menu": [
    	{
    	    "text": "Главная",
    		"href": "index.html"
    	},
    	{
    		"text": "Товары",
    		"href": "category.html",
            "active": 1
    	},
    	{
    		"text": "О компании",
    		"href": "about.html"
    	},
    	{
    		"text": "Новости",
    		"href": "index.html"
    	},
    	{
    		"text": "Контакты",
    		"href": "contacts.html"
    	}
        ]
    })

block content
    +category-menu([
        {
            "name":"Ковровые покрытия",
            "href":"#",
            "img":"img/category/carpet.jpg"
        },
        {
            "name":"ПВХ плитка",
            "href":"#",
            "img":"img/category/pvh.jpg"
        },
         {
            "name":"Спортивные покрытия",
            "href":"#",
            "img":"img/category/sport.jpg"
        },
         {
            "name":"Наливные системы",
            "href":"#",
            "img":"img/category/naliv.jpg"
        },
         {
            "name":"Натуральный линолелум",
            "href":"#",
            "img":"img/category/linoleum.jpg"
        },
        {
            "name":"Каучуковые покрытия",
            "href":"#",
            "img":"img/category/kauchuk.jpg"
        },
        {
            "name":"Строительная химия",
            "href":"#",
            "img":"img/category/chem.jpg"
        },
        {
            "name":"Все товары",
            "href":"#",
            "img":""
        }
        ])