extends template

include category-menu/category-menu
include section/section
include section/section_light

block content
    +category-menu([
        {
            "name":"Ковровые покрытия",
            "href":"#",
            "img":"img/category/carpet.jpg"
        },
        {
            "name":"ПВХ плитка",
            "href":"#",
            "img":"img/category/pvh.jpg"
        },
         {
            "name":"Спортивные покрытия",
            "href":"#",
            "img":"img/category/sport.jpg"
        },
         {
            "name":"Наливные системы",
            "href":"#",
            "img":"img/category/naliv.jpg"
        },
         {
            "name":"Натуральный линолелум",
            "href":"#",
            "img":"img/category/linoleum.jpg"
        },
         {
            "name":"Каучуковые покрытия",
            "href":"#",
            "img":"img/category/kauchuk.jpg"
        }
        ])
    +section([{
        "name":"О компании",
        "href":"#",
        "text":`Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. 
                Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
                Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми 
                правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают 
                прямо в рот.

                Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфогра
                фичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum
                решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых,
                диких знаках вопроса и коварных точках с запятой, но текст не дал сбить `
    }])
    +section_light([{
        "name":"О компании",
        "href":"#",
        "text":`Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. 
                Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
                Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми 
                правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают 
                прямо в рот.

                Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфогра
                фичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum
                решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых,
                диких знаках вопроса и коварных точках с запятой, но текст не дал сбить `
    }])
    

