include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include head/head
include header/header
include head-line/head-line
include search/search
include footer/footer


doctype html
html(lang="ru")

	block head
		head
			+head({
				"title": "Vivadi",
				"author": "Yehor Illarionov",
				"description": "Floor catalog"
			})
			
		+b.BODY.page
			+e.DIV.wrap
				div.bg
					block header
						+head-line()
						+header({
							"menu": [
								{
									"text": "Главная",
									"href": "index.html"
								},
								{
									"text": "Товары",
									"href": "index.html"
								},
								{
									"text": "О компании",
									"href": "index.html"
								},
								{
									"text": "Новости",
									"href": "index.html"
								},
								{
									"text": "Контакты",
									"href": "index.html"
								}
							]
						})
						
					block content
						div content

				block footer
					+footer()
				
			block vendors
				// build:js js/vendor.js
				script( src="libs/jquery/dist/jquery.min.js")
				// endbuild

			block scripts
				// build:js js/main.js
				script( src="js/main.js")
				// endbuild
