mixin header(data)
  div.header-fix
  +b.HEADER.header
    +e.DIV.container
      +e.DIV.nav
        +b.NAV.header-nav
          each item in data.menu
            - var active=item.active
            case active
              when 1
                +e.DIV.item
                  a(href=item.href, class="header-nav__link header-nav__link--active")=item.text 
              default
                +e.DIV.item
                  +e.A.link(href=item.href)=item.text
     
