mixin category-menu(data)
    +b.SECTION.category-menu
        +e.DIV.container
            - var img;
            each item in data
                +b.DIV.category-item
                    a(href=item.href)
                        -img=item.img;
                        +e.DIV.img(style="background-image:url("+img+");background-size:cover;")
                        +e.DIV.overlay
                    +e.A.name(href="#")=item.name