mixin products()
    +b.DIV.products
        +b.DIV.products-path
            +e.DIV.container
                a(href="#") Товары
                a(href="#") Ковровые корытия
                a(href="#") Коммерческий ковролин
        +e.DIV.container
            +b.DIV.products-sidebar        
                +e.DIV.menubar
                    +e.INPUT.search(placeholder="Поиск" type="text")
                    +e.NAV.menu
                        h2 Категория
                        hr
                        ul  
                            li
                                a(href="#" title="Link") Ковровые покрытия
                    +e.NAV.menu
                        h2 Подкатегории
                        hr
                        ul  
                            li
                                label Коммерческий ковролин
                                    input(type="checkbox" checked=true) 
                            li
                                label Офисный ковролин
                                    input(type="checkbox") 
                            li
                                label Ковровая плитка
                                    input(type="checkbox") 
                            li.notimp
                               label Бытовой ковролин
                                input(type="checkbox") 
                    +e.NAV.menu
                        h2 Производитель
                        hr
                        ul  
                            li
                               label arcedition
                                   input(type="checkbox") 
                            li
                                label armstrong
                                    input(type="checkbox") 
                            li
                                label itc
                                    input(type="checkbox") 
                            li.notimp
                                label condor           
                                    input(type="checkbox")   
            +b.DIV.products-main
                +e.DIV.container
                    +b.DIV.products-item
                        a(href="product.html")
                            div
                                +e.DIV.img(alt="sample" style="background-image:url('img/sample.jpg');background-size:cover;" )
                            +e.P.name Название коллекции/
                            +e.P.article Артикул
                    +b.DIV.products-item
                        a(href="product.html")
                            div
                                +e.DIV.img(alt="sample" style="background-image:url('img/sample.jpg');background-size:cover;" )
                            +e.P.name Название коллекции/
                            +e.P.article Артикул
                    +b.DIV.products-item
                        a(href="product.html")
                            div
                                +e.DIV.img(alt="sample" style="background-image:url('img/sample.jpg');background-size:cover;" )
                            +e.P.name Название коллекции/
                            +e.P.article Артикул
                    +b.DIV.products-item
                        a(href="product.html")
                            div
                                +e.DIV.img(alt="sample" style="background-image:url('img/sample.jpg');background-size:cover;" )
                            +e.P.name Название коллекции/
                            +e.P.article Артикул
                    +b.DIV.products-item
                        a(href="product.html")
                            div
                                +e.DIV.img(alt="sample" style="background-image:url('img/sample.jpg');background-size:cover;" )
                            +e.P.name Название коллекции/
                            +e.P.article Артикул
                    +b.DIV.products-item
                        a(href="product.html")
                            div
                                +e.DIV.img(alt="sample" style="background-image:url('img/sample.jpg');background-size:cover;" )
                            +e.P.name Название коллекции/
                            +e.P.article Артикул
                    +b.DIV.products-item
                        a(href="product.html")
                            div
                                +e.DIV.img(alt="sample" style="background-image:url('img/sample.jpg');background-size:cover;" )
                            +e.P.name Название коллекции/
                            +e.P.article Артикул
                    
                        
                    
                    
                            