mixin products()
    div.products
        div(id="mainWrapper")
            div(id="content")
                    section.sidebar 
                        input(type="text"  id="search" value="search")
                        div(id="menubar")
                            nav.menu
                                h2 MENU ITEM 1
                                hr
                                ul  
                                    li
                                        a(href="#" title="Link") Link 1
                                    li
                                        a(href="#" title="Link") Link 2
                                    li
                                        a(href="#" title="Link") Link 3
                                    li.notimp
                                        a(href="#"  title="Link") Link 4
                                
                            nav.menu
                                h2 MENU ITEM 2 
                                hr
                                ul
                                    li
                                        a(href="#" title="Link") Link 1
                                    li
                                        a(href="#" title="Link") Link 2
                                    li
                                        a(href="#" title="Link") Link 3
                                    li.notimp
                                        a(href="#" title="Link") Link 4
                            
                    section.mainContent
                        div.productRow
                            article.productInfo
                                div
                                    img(alt="sample" style="background:#f3f3f3;" src="img/200x200.png")
                                p.price $50
                                p.productContent Content holder 
                                input(type="button" name="button" value="Buy" class="buyButton")

                            article.productInfo
                                div
                                    img(alt="sample" style="background:#f3f3f3;" src="img/200x200.png")
                                p.price $50
                                p.productContent Content holder 
                                input(type="button" name="button" value="Buy" class="buyButton")

                            article.productInfo
                                div
                                    img(alt="sample" style="background:#f3f3f3;" src="img/200x200.png")
                                p.price $50
                                p.productContent Content holder 
                                input(type="button" name="button" value="Buy" class="buyButton")


                        div.productRow
                            article.productInfo
                                div
                                    img(alt="sample" style="background:#f3f3f3;" src="img/200x200.png")
                                p.price $50
                                p.productContent Content holder 
                                input(type="button" name="button" value="Buy" class="buyButton")

                            article.productInfo
                                div
                                    img(alt="sample" style="background:#f3f3f3;" src="img/200x200.png")
                                p.price $50
                                p.productContent Content holder 
                                input(type="button" name="button" value="Buy" class="buyButton")

                            article.productInfo
                                div
                                    img(alt="sample" style="background:#f3f3f3;" src="img/200x200.png")
                                p.price $50
                                p.productContent Content holder 
                                input(type="button" name="button" value="Buy" class="buyButton")


                        div.productRow
                            article.productInfo
                                div
                                    img(alt="sample" style="background:#f3f3f3;" src="img/200x200.png")
                                p.price $50
                                p.productContent Content holder 
                                input(type="button" name="button" value="Buy" class="buyButton")

                            article.productInfo
                                div
                                    img(alt="sample" style="background:#f3f3f3;" src="img/200x200.png")
                                p.price $50
                                p.productContent Content holder 
                                input(type="button" name="button" value="Buy" class="buyButton")

                            article.productInfo
                                div
                                    img(alt="sample" style="background:#f3f3f3;" src="img/200x200.png")
                                p.price $50
                                p.productContent Content holder 
                                input(type="button" name="button" value="Buy" class="buyButton")