mixin footer()
    div.clr
    +b.FOOTER.footer
        +e.DIV.container
            +b.DIV.footer-map
                p.footer__title Карта сайта
                br
                +e.A.item(href="#") link item
                br
                +e.A.item(href="#") link item
                br
                +e.A.item(href="#") link item
                br
                +e.A.item(href="#") link item
                br
                +e.A.item(href="#") link item
            +b.DIV.footer-contacts 
                p.footer__title Контактные данные
                br
                +e.SPAN.item контакт1
                br
                +e.SPAN.item контакт2
                br
                +e.SPAN.item контакт3
            +b.DIV.footer-adds 
                p.footer__title Дополнительно
                br
                +e.A.item(href="#") link item
                br
                +e.A.item(href="#") link item
                br
                +e.A.item(href="#") link item
            +e.IMG.logo(src="img/logo/logo.png")
        +e.SPAN.copy 2017