mixin section(data)
    +b.SECTION.section
        +e.DIV.container
            each item in data
                +e.DIV.name
                    p=item.name
                +e.DIV.text=item.text
                +e.A.btn(href=item.href) Читать дальше