mixin section_light(data)
    +b.SECTION.section_light
        +e.DIV.container
            each item in data
                +e.DIV.name--light
                    p.namefont=item.name
                +e.DIV.text=item.text
                if item.href
                    +e.A.btn(href=item.href) Читать дальше